.git
.gitignore
.vscode
node_modules
google-services.json
flutter_create.log
tomas.sql
tomas-flutter
tomas-flutter-tukang
index.html

tomas-app/.env
tomas-app/vendor
tomas-app/node_modules
tomas-app/storage/logs
tomas-app/storage/framework/cache
tomas-app/storage/framework/sessions
tomas-app/storage/framework/views